Repository butlfrazp/CircleCITest: changes, and which CircleCI parameters are due for each by the changed paths.
All: markdown_linter, build_infrastructure, build_code, run_all

adding chdir
  .circleci/continue_config.yml
Due: run_all

update to default value
  terraform/variables.tf
Due: build_infrastructure

uncommenting the filters
  .circleci/continue_config.yml
Due: run_all

adding comment for filtering and multiline command
  .circleci/continue_config.yml
Due: run_all

adding terraform backend
  terraform/main.tf
Due: build_infrastructure

udpdate to create contianer and adding the master only trigger for apply
  .circleci/continue_config.yml
  terraform/main.tf
Due: build_infrastructure, run_all

Path conditions:
  markdown_linter: any of: .*.md
  build_infrastructure: any of: terraform/.*
  build_code: any of: CircleCiTestFunction/.*
  run_all: any of: .circleci/.*.yml
