Repository butlfrazp/CircleCITest: changes, and which CircleCI parameters are due for each by the changed paths.
All: markdown_linter, build_infrastructure, build_code, run_all

.circleci/config.yml:

# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.1

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          context: 'dev'
          mapping: |
            .*.md markdown_linter true
            terraform/.* build_infrastructure true
            CircleCiTestFunction/.* build_code true
            .circleci/.*.yml run_all true
          base-revision: origin/master

Add context on build_infrastructure to test
  .circleci/continue_config.yml
Due: run_all

Correcting context path
  .circleci/continue_config.yml
Due: run_all

Removing string for context
  .circleci/continue_config.yml
Due: run_all

Typo in context
  .circleci/continue_config.yml
Due: run_all

Add temp config names
  .circleci/config.yml
  .circleci/continue_config.yml
Due: run_all

Document best practices for CircleCI
  .circleci/config.yml
  README.md
  docs/circleci/best_practices.md
  docs/circleci/images/build-artifacts.png
  docs/circleci/images/enable-disable-jobs-per-branch.png
  docs/circleci/images/parallel-execution.png
  docs/circleci/images/secrets-as-environment-variables.png
  docs/circleci/images/status-badges.png
  docs/circleci/images/status-checks.png
Due: markdown_linter, run_all

use generic test instead of specifying projs in yml
  .circleci/config.yml
  .circleci/continue_config.yml
  CircleCiTestFunction/CircleCiTestFunction.sln
  CircleCiTestFunction/CircleCiTestFunction/AnotherCoveredClass.cs
  CircleCiTestFunction/CircleCiTestFunction/CoveredClass.cs
  CircleCiTestFunction/CircleCiTestFunctionTests/AnotherCoveredClassUnitTest.cs
  CircleCiTestFunction/CircleCiTestFunctionTests/CircleCiTestFunctionUnitTests.cs
  CircleCiTestFunction/CircleCiTestFunctionTests/CoveredClassUnitTests.cs
  src/CircleCiTest/CircleCiTest.sln
  src/CircleCiTest/FunctionOne.UnitTests/FunctionOne.UnitTests.csproj
  src/CircleCiTest/FunctionOne.UnitTests/UnitTest1.cs
  src/CircleCiTest/FunctionOne.UnitTests/Usings.cs
  src/CircleCiTest/FunctionOne/.gitignore
  src/CircleCiTest/FunctionOne/FunctionOne.cs
  src/CircleCiTest/FunctionOne/FunctionOne.csproj
  src/CircleCiTest/FunctionOne/Properties/launchSettings.json
  src/CircleCiTest/FunctionOne/host.json
  src/CircleCiTest/FunctionTwo.UnitTests/FunctionTwo.UnitTests.csproj
  src/CircleCiTest/FunctionTwo.UnitTests/UnitTest1.cs
  src/CircleCiTest/FunctionTwo.UnitTests/Usings.cs
  src/CircleCiTest/FunctionTwo/.gitignore
  src/CircleCiTest/FunctionTwo/FunctionTwo.cs
  src/CircleCiTest/FunctionTwo/FunctionTwo.csproj
  src/CircleCiTest/FunctionTwo/Properties/launchSettings.json
  src/CircleCiTest/FunctionTwo/host.json
Due: build_code, run_all

fix build
  .circleci/continue_config.yml
  src/CircleCiTest/FunctionOne/FunctionOne.cs
Due: run_all

Update continue_config.yml
  .circleci/continue_config.yml
Due: run_all

add coverlet.msbuild
  src/CircleCiTest/FunctionOne.UnitTests/FunctionOne.UnitTests.csproj
  src/CircleCiTest/FunctionTwo.UnitTests/FunctionTwo.UnitTests.csproj
  src/CircleCiTest/FunctionTwo/FunctionTwo.csproj
Due: none

Make Function 1 pass
  src/CircleCiTest/FunctionOne.UnitTests/FunctionOne.UnitTests.csproj
  src/CircleCiTest/FunctionOne.UnitTests/UnitTest1.cs
  src/CircleCiTest/FunctionOne/FunctionOne.cs
Due: none

var mispelled
  .circleci/continue_config.yml
Due: run_all

Update FunctionTwo.UnitTests.csproj
  src/CircleCiTest/FunctionTwo.UnitTests/FunctionTwo.UnitTests.csproj
Due: none

document script
  .circleci/continue_config.yml
Due: run_all

update to terraform and circle ci
  .circleci/continue_config.yml
  terraform/.terraform.lock.hcl
  terraform/main.tf
  terraform/variables.tf
Due: build_infrastructure, run_all

updating requires
  .circleci/continue_config.yml
Due: run_all

update to continue pipeline
  .circleci/continue_config.yml
Due: run_all

adding context back
  .circleci/continue_config.yml
Due: run_all

update to address linting
  .circleci/config.yml
  .circleci/continue_config.yml
Due: run_all

update to terraform apply
  .circleci/continue_config.yml
Due: run_all

update to filters
  .circleci/continue_config.yml
Due: run_all

adding apply without any filters
  .circleci/continue_config.yml
Due: run_all

update to path
  .circleci/continue_config.yml
Due: run_all

update to workspace path
  .circleci/continue_config.yml
Due: run_all

just running ls
  .circleci/continue_config.yml
Due: run_all

update to attatch path
  .circleci/continue_config.yml
Due: run_all

adding apply
  .circleci/continue_config.yml
Due: run_all

removing lock file
  terraform/.terraform.lock.hcl
Due: build_infrastructure

update to terraform init
  .circleci/continue_config.yml
Due: run_all
